.App {
  text-align: center;
}

.page-content {
  margin: 1rem
}

.success-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.food-page {
  display: flex;
  justify-content: center;
}

.basket-header {
  display: flex;
  justify-content: center;
}

.basket {
  display: flex;
  justify-content: center;
}

.currency-dropdown {
  justify-content: space-evenly;
}

.tick-icon-image {
  height: 3rem;
  margin-left: 1rem
}